{% extends "base.html"%}
{% load static %}

{% block title %}
 My Blog
{% endblock %} 


{% block css_files %}
 <link rel="stylesheet" href="{% static "blog/post.css" %}" />
 <link rel="stylesheet" href="{% static "blog/index.css" %}" />


{% endblock %}
{% block content %}
  
 <section id="welcome">
    <div>
        <img src="https://lh3.googleusercontent.com/9FsfR8apShDUdT4S_PJoOC7RAzwMf8AGqPUIOUEmBEI8yUkLkSPwLzUVNPoxV07VlGt04NR8Ikzv7Jl25moGAqg84VIWx-5VQVQhccXAEN-BLoMaooGzP-jU9hyh92thL-BZDl3PjbFe_zcMu1IE82uY8dSqmp4e4Bpn19UMKVxdxrnJjO1veHDkYMuVolH0C8cV9W_LMnQtpmwmh1yNDstJkKtwDxXyNX-ZeBpD-E9VcojGFbriHkUiBXwj_-9bXTCZmq3y-fPa4dFvpLIfj6lFmX4WT4GnJl_MYzCK2xbC8FvGdPYgYaYj4eu75VQYiicrIDBD7MYDbMpnXfqu6aVVIXUO2lu6zNxrJWjbTGsHf5P5jGQZfWG5rM8eKuRhTJ9SL8TYQWBb_87v6T0l81lj97mOPZJdKdWvr5KDk1LC0snATy6EU1D7prwH_ZOvpyv3Vxo8tT5prLBb_5VNP0TVnsq-fMp7LvoSo3Uw62xBAd9Ardx3_BGUXd2U9D-cRqLaTAIaR8kxsbriyeCTbLwXoz4OqUd6b8MWZ13BgTGQZF-lKiZKJHSS8w3t6qN5BEYTAqySWWJZQmRQo8vlekmTve68tn2Ar2-__-LghxRHxVE-7wPmmxrJPxvbqwx7NHsjZf-ZibN1A_5q2khiSZV87p4CgTsBrGJdq5iqA-x7ZSMjQ3v2Xmjv2g_o1dnrtA5snWH84_w05PQLrJbZRPfOoXO9vHJciCvm47iFeEacIKpYTJelB9V5rRrddozn7cARwiZntIhsJ1bKU3yRFlSsZhpYAqXHow=s819-no?authuser=0" alt="Venkatesh - The Author of this Blog"/>
        <h2> VENKATESH'S BLOG </h2>
    </div>   
    <p> Hi, I like to blog about tech! </p>
 </section>  
 
  <section id="latest-posts">
    <h2>My latest Thoughts</h2>

    <ul>
        {% for post in posts %}
        {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>

  </section>  

  <section id="about">
    <h2>What I Do</h2>
    <p>I love programming and I enjoy explore new technologies.</p>
    <p>My Goal is to keep growing as a Python Developer.</p>

  </section>  
{% endblock %} 
